<!DOCTYPE html>
<html>
    <head>
        
        <title>{% block title %}{% endblock %}</title>
        {% block style %}{% endblock %}
       
        </head>
        <nav id="nav-bar">
            <div id="nav-link"><a href="{% url 'index' %}">Events </a> </div>
            <div id="nav-link"><a href="{% url 'locations' %}">Locations</a></div>
            <div id="nav-link"><a  href="{% url 'dates' %}">Dates</a></div>
        </nav>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>