{% extends "base.html" %}
{% load static %} 
{% block title %}Phenomena{% endblock %}
{% block content %}
{% block style %} <link rel="stylesheet" href="{% static 'phenomena/style.css' %}"> {% endblock %}

<h2 id="location-heading"> Unexplained events have taken place in the following locations: </h2>
<ul id="location-list">
    {% for location in locations %}
  <li><a href="{% url 'country' location.location %}">{{ location.location }}</a></li> 

    {% empty %}
    <li>No events to show</li>
    {% endfor %}
</ul>

{% endblock %}